# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
out-tsc/

# Environment
.env

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Angular
.angular/
